.ios, .md {
    page-changepass {
        .title {
            align-content: center;
            text-align: center;
            margin-top: 25%;
        }
        #button{
            margin-top: 5%;
        }
        #changeLink{
            margin-top: 5%;
            text-align: center;
        }
    }

}
