<ion-header>

    <ion-navbar>
        <ion-title>Seguimiento de herida</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label>Temperatura</ion-label>
        <ion-range min="350" max="400" step="5" snaps="true" pin="true" color="danger" [(ngModel)]="temperatura">
            <ion-icon small range-left name="thermometer">&nbsp;35</ion-icon>
            <ion-icon range-right name="thermometer"> &nbsp;40</ion-icon>
        </ion-range>
    </ion-item> 
    
    <ion-item>
        <ion-label>Nivel de dolor en la pierna</ion-label>
        <ion-range min="0" max="10" snaps="true" pin="true" [(ngModel)]="dolorPierna">
            <ion-icon range-left>0</ion-icon>
            <ion-icon range-right>10</ion-icon>
        </ion-range>
    </ion-item> 

    <ion-item>
        <ion-label>Nivel de dolor en la espalda</ion-label>
        <ion-range min="0" max="10" snaps="true" pin="true" [(ngModel)]="dolorEspalda">
            <ion-icon range-left>0</ion-icon>
            <ion-icon range-right>10</ion-icon>
        </ion-range>
    </ion-item> 
    <ion-item>
        
        <button ion-button full (click)="openCamera()">
            <ion-icon name="camera"></ion-icon> &nbsp;&nbsp; openCamera
        </button>
        <button ion-button full (click)="openGallery()">
                <ion-icon name="camera"></ion-icon> &nbsp;&nbsp; openGallery
            </button>
            <img [src]="base64Image"/>
            <button ion-button full (click)="uploadImage()">upload img</button>
        </ion-item>
          <!--
        <ion-grid>
            <ion-row>
                <ion-col col-12 *ngFor="let photo of photos; let id = index">
                    <ion-card class="block">
                        <ion-icon ios="ios-close-circle" md="md-close-circle" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                        <img [src]="photo" *ngIf="photo" />
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        
    </ion-item> -->

    <ion-item>
        <button ion-button full (click)="sendInfo(temperatura, dolorPierna, dolorEspalda, image)">
            <ion-icon></ion-icon> Enviar
        </button>
    </ion-item>

</ion-content>
<!--
<ion-content padding>
    <ion-item>
        <p>{{imageURI}}</p>
        <button ion-button color="secondary" (click)="getImage()">Get Image</button>
    </ion-item> 
    <ion-item>
        <h4>Image Preview</h4>
        <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
    </ion-item>
    <ion-item>
        <button ion-button (click)="uploadFile()">Upload</button>
    </ion-item>
</ion-content>
-->