<ion-header>

    <ion-navbar>
        <ion-title>Seguimiento de herida</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label>Temperatura</ion-label>
        <ion-range min="350" max="400" step="5" snaps="true" pin="true" color="danger" [(ngModel)]="temperatura">
            <ion-icon small range-left name="thermometer">&nbsp;35</ion-icon>
            <ion-icon range-right name="thermometer"> &nbsp;40</ion-icon>
        </ion-range>
    </ion-item> 
    
    <ion-item>
        <ion-label>Nivel de dolor en la pierna</ion-label>
        <ion-range min="0" max="10" snaps="true" pin="true" [(ngModel)]="dolorPierna">
            <ion-icon range-left>0</ion-icon>
            <ion-icon range-right>10</ion-icon>
        </ion-range>
    </ion-item> 

    <ion-item>
        <ion-label>Nivel de dolor en la espalda</ion-label>
        <ion-range min="0" max="10" snaps="true" pin="true" [(ngModel)]="dolorEspalda">
            <ion-icon range-left>0</ion-icon>
            <ion-icon range-right>10</ion-icon>
        </ion-range>
    </ion-item> 
    <ion-item>  
            <button ion-button block (click)="getPicture()"><ion-icon name="camera"></ion-icon> &nbsp;&nbsp;Hacer foto nueva</button>
            <img [src]="image" *ngIf="image" />
  
        <button ion-button block (click)="openGallery()">
            <ion-icon name="folder"></ion-icon> &nbsp;&nbsp;Subir foto desde galeria
            </button>
            <img [src]="base64Image" *ngIf="base64Image" />
        </ion-item>

    <ion-item>
        <button ion-button block (click)="sendInfo(temperatura, dolorPierna, dolorEspalda, image)">
            <ion-icon></ion-icon> Enviar
        </button>
    </ion-item>

</ion-content>
